// Colors
$grey: #333333;

$pink: pink;
$darkprimary: #0097A7;
$primary: #00BCD4;
$lightprimary: #B2EBF2;
$text: #FFFFFF;
$accent: #009688;
$primarytext: #212121;
$secondarytext: #757575;
$divider: #BDBDBD;